
body {
	font-family: sans-serif;
}

h1 {
	
}

.navbar.navbar-default .container {
	border-top: solid 4px black;
}

.project {
	img {
		width: 100%;
	}

	padding: 5px 0;
}

.secondary-bg {
	background: #F7F7F7;
}

footer {
	text-align: center;
	font-size: @font-size-small;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}